@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.main {
  text-align: center;
  background-image: url("http://getwallpapers.com/wallpaper/full/9/d/1/255505.jpg");
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: grid;
  justify-items: center;
  align-content: center;
}

#start-button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  font-size: 45px;
  padding: 50px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

#start-button:hover {
  background: #434343;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }

.text {
  color: rgba(12, 54, 240, 0.876);
  font-family: 'Montserrat', sans-serif;
  font-size: 200px;
}

.text2 {
margin-top: 40px;
font-size: 70px;
color: rgba(183, 187, 209, 0.876);
font-family: 'Montserrat', sans-serif;
letter-spacing: 3px;
transition: 1s;
}


#gameCanvas {
  position: absolute;
  left: 0;
  top: 0;
}